#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #6b6b6baa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.game {
  display: flex;
  flex-direction: row;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #2a2a2a;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  color: #8f0000;
  width: 34px;
}

.square:focus {
  outline: none;
}

.status {
  margin-bottom: 10px;
  color: #ffffff;
}

.game-info {
  margin-left: 20px;
  color: #ffffff;
}

.app-title {
  text-align: center;
  margin: -50px 0 50px 0;
  font-family: Arial, sans-serif;
  font-size: 3.75rem;
  color: #fffefe;
  text-shadow: #330909 4px 4px 0px;
}
